[submodule "1840A/1840-9101/pico-utils"]
	path = 1840A/1840-9101/pico-utils
	url = https://www.github.com/dslik/pico-utils
[submodule "1840A/1840-9101/snon"]
	path = 1840A/1840-9101/snon
	url = https://www.github.com/dslik/snon-utils
[submodule "1841A/1841-9101/pico-utils"]
	path = 1841A/1841-9101/pico-utils
	url = http://github.com/dslik/pico-utils
[submodule "1841A/1841-9101/snon"]
	path = 1841A/1841-9101/snon
	url = http://github.com/dslik/snon-utils
[submodule "1841A/1841-9101/vita40"]
	path = 1841A/1841-9101/vita40
	url = https://github.com/dslik/vita40-utils
[submodule "1870A/1870-9101/vita40"]
	path = 1870A/1870-9101/vita40
	url = https://github.com/dslik/vita40-utils
[submodule "1870A/1870-9101/snon"]
	path = 1870A/1870-9101/snon
	url = https://github.com/dslik/snon-utils
[submodule "1870A/1870-9101/pico-utils"]
	path = 1870A/1870-9101/pico-utils
	url = https://github.com/dslik/pico-utils
